<?php

return [
	'login' => '',						// email, на который зарегистрирована учетная запись mos.ru
	'password' => '',					// пароль для учетной записи mos.ru
	'payerCode' => '',					// код плательщика (ФЛС) из единого платежного документа
	'flatNumber' => '',					// номер квартиры
	'electroAccountNumber' => '',		// номер лицевого счета МосЭнергоСбыт
	'electroCounterNumber' => '',		// номер электрического счетчика
];